*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
}

.wrapper {
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
}

.overlay {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.overlay.active {
  display: block;
}

.nav {
  position: relative;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.nav__links-desktop {
  display: none;
}
.nav__links-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  transform: translateX(150%);
  background-color: hsl(36, 100%, 99%);
  box-shadow: 3px 3px 5px rgba(46, 46, 46, 0.1803921569);
  z-index: 210;
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav__links-mobile.active {
  transform: translateX(0);
}
.nav__link {
  display: block;
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  font-size: 2.3rem;
  transition: color 0.3s;
}
.nav__link:hover {
  color: hsl(5, 85%, 63%);
}
.nav__logo {
  padding: 1em;
  z-index: 200;
}
.nav__burger-btn {
  position: absolute;
  padding: 1em;
  top: 1.7em;
  right: 2em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  background: none;
  z-index: 250;
}
.nav__burger-btn:focus-visible {
  border: 1px solid hsl(240, 100%, 5%);
}
.nav__burger-btn-box {
  position: relative;
  width: 50px;
  height: 30px;
}
.nav__burger-btn-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: hsl(240, 100%, 5%);
  transition: transform 0.3s, opacity 0.2s;
}
.nav__burger-btn-bar--top {
  top: 0;
}
.nav__burger-btn-bar--middle {
  top: 12px;
}
.nav__burger-btn-bar--bottom {
  top: 24px;
}

.header .line {
  position: relative;
  width: 100%;
  margin: 5em auto;
  background-color: hsl(233, 8%, 79%);
  height: 1px;
}
.header .square {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  aspect-ratio: 1;
  background-color: hsl(35, 77%, 62%);
}
.header .square--left {
  left: 6em;
}
.header .square--right {
  right: 6em;
}
.header .wrapper {
  padding: 1em 2em;
}
.header__img {
  width: 100%;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__img--desktop {
  display: none;
}
.header__content-left {
  margin-block-end: 6em;
}
.header__content-left-title {
  font-size: 1.7rem;
  color: hsl(240, 100%, 5%);
  padding: 1em 0;
}
.header__content-left-title h1 {
  font-weight: 800;
}
.header__content-left-info {
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}
.header__btn {
  display: block;
  padding: 1em 2em;
  margin-block-start: 1.5em;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  color: hsl(240, 100%, 5%);
  border: none;
  background-color: hsl(5, 85%, 63%);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.header__btn:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}
.header__content-right {
  padding: 3em;
  background-color: hsl(240, 100%, 5%);
}
.header__content-right-main-title {
  font-size: 3rem;
  color: hsl(35, 77%, 62%);
  margin-block-end: 0.5em;
}
.header__content-right-title {
  margin-block-end: 0.8em;
  text-decoration: none;
  font-size: 1.7rem;
  color: hsl(36, 100%, 99%);
  font-weight: 500;
  transition: color 0.3s;
}
.header__content-right-title:hover {
  color: hsl(35, 77%, 62%);
}
.header__content-right-text {
  font-size: 1.5rem;
  color: hsl(233, 8%, 79%);
  font-weight: 400;
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--top {
  transform: translateY(12px) rotate(45deg);
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--bottom {
  transform: translateY(-12px) rotate(-45deg);
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--middle {
  opacity: 0;
}

@media (400px <= width) {
  .nav__links-mobile {
    width: 300px;
    align-items: flex-start;
  }
  .nav__link {
    padding-inline-start: 1.5em;
  }
}
@media (576px <= width) {
  .header__content-left-title {
    font-size: 2rem;
  }
  .header__content-left-info {
    font-size: 1.8rem;
  }
}
@media (768px <= width) {
  .nav__burger-btn {
    display: none;
  }
  .nav__links-desktop {
    display: flex;
    align-items: center;
  }
  .nav__link {
    color: hsl(236, 13%, 42%);
    font-size: 1.8rem;
  }
  .header .wrapper {
    padding: 3em 2em;
  }
  .header__main-content {
    display: flex;
    justify-content: space-between;
  }
  .header__img {
    height: 300px;
  }
  .header__img--mobile {
    display: none;
  }
  .header__img--desktop {
    display: block;
  }
  .header__content-left {
    width: 58%;
  }
  .header__content-right {
    width: 40%;
  }
  .header__content-left-box {
    display: flex;
    flex-wrap: wrap;
  }
  .header__content-left-title {
    width: 100%;
    font-size: 2.2rem;
  }
  .header__content-left-info {
    width: 100%;
  }
  .header__content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__content-right-main-title {
    font-size: 3.5rem;
  }
  .header__content-right-title {
    font-size: 1.9rem;
  }
  .header__content-right-text {
    font-size: 1.6rem;
  }
}
@media (992px <= width) {
  .header__content-left-title {
    font-size: 2.7rem;
  }
  .header__content-left {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__img {
    height: 350px;
  }
  .header__content-right {
    width: 35%;
    padding: 4em;
  }
  .header__content-left-box {
    margin-block-start: 1em;
    justify-content: space-between;
    align-items: center;
  }
  .header__content-left-title {
    width: 45%;
    padding: 0;
  }
  .header__content-left-info {
    width: 50%;
  }
  .header__content-left {
    margin: 0;
  }
  .header__btn {
    margin-block-start: 2em;
  }
  .header__content-right-main-title {
    font-size: 4rem;
  }
  .header .square {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */